body {
  padding-top: 70px;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.hero-image {
  width: 100%;
  height: 655px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p {
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text button{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.hero-text button:hover{
  opacity: 0.6;
}

.hero-text button:active{
  opacity: 0.3;
}

.texts{
  font-weight: bold;
  margin-top: -10px;
  background-color: #d6d2d2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

.texts p{
  align-content: center;
  justify-content: center;
}


/* .temple-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px 0;
}

.temple-grid > div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.temple-grid > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.explore-section {
  position: relative;
  padding: 20px 20px;
  background: linear-gradient(to bottom, #ffffff, #e6f0ff);
  text-align: center;
}

.explore-section h1{
  font-size: 40px;
}

.explore-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 1;
}

.view-more-btn {
  background-color: #ff5722;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.view-more-btn:hover {
  background-color: #e64a19;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
 */
